// 공통
@import "../../scss/components/default.scss";

.body_wrap {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;

	.header {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 500;
		width: 100%;

		.container {
			height: 80px;
			background-color: #eee;
		}

		.gnbBanner {
			height: 48px;
			background: #fff;
			border-bottom: 1px solid #ddd;
		}
	}

	.footer {
		height: 243px;
		background-color: #eee;
	}

	// 컨텐츠 시작
	.content {
		position: relative;
		margin-top: 80px;
		// min-height: calc(100vh - 200px);

		.container {
			display: flex;
			justify-content: space-between;
			position: relative;
			width: 1600px;
			margin: 0 auto;
			padding-top: 50px;

			.leftContent {
				width: 1256px;
				padding: 40px 64px 40px 0;

				>div {
					border: 1px solid black;
				}

				.banner {
					height: 464px;
				}

				.cardOrigin {
					height: 520px;
				}

				.cardBrands {
					height: 520px;
				}

				.eventList {
					height: 730px;
				}
			}

			.rightContent {
				width: 343px;
				padding: 40px 0 40px 64px;

				>div {
					border: 1px solid black;
				}

				.loginWrap {
					height: 374px;
				}

				.quickMenu {
					height: 78px;
					margin-top: 22px;
				}

				.infoList {
					height: 320px;
					margin-top: 52px;
				}

				.notice {
					height: 195px;
					margin-top: 52px;
				}

				.appBanner {
					height: 106px;
					margin-top: 28px;
				}
			}
		}

		@media screen and (max-width: 1639px) {
			.container {
				width: 1200px;

				.leftContent {
					width: 855px;
					padding: 40px 64px 40px 0;
				}
			}
		}
	}
}

.link_btn {
	display: inline-block;
	border: 1px solid #bbb;
	border-radius: 4px;
	height: 40px;
	margin: 10px 0 0 5px;
	padding: 0 12px;

	a {
		display: inline-block;
		width: 100%;
		height: 100%;
		font-size: 14px;
		color: #000;
		text-align: center;
		line-height: 38px;
	}

	&:first-child {
		margin-left: 10px;
	}
}

// H-Coin 혜택
.h_coin {
	position: relative;
	width: 996px;
	margin: 0 auto;
	padding: 130px 0 160px;

	h2 {
		height: 44px;
		margin-top: 64px;
		font-size: 34px;
		font-weight: 600;
		line-height: 44px;
		text-align: center;
		letter-spacing: -1px;
	}

	.blue_link {
		margin-top: 16px;
		text-align: center;

		a {
			display: inline-block;
			position: relative;
			padding-right: 16px;
			font-size: 16px;
			font-weight: 700;
			line-height: 22px;
			color: #007aff;
			text-align: left;
			letter-spacing: -1px;

			&:hover {
				&::before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 226px;
					height: 1px;
					background: #007aff;
				}
			}

			&::after {
				content: '';
				position: absolute;
				top: 3px;
				right: 0;
				width: 16px;
				height: 16px;
				background: url(../../image/content/hyundaiCard/ico_arrowB_forward_blue.png) 0 0 no-repeat;
				background-size: 100%;
			}
		}
	}

	.section {
		&.first_section {
			margin-top: 72px;

			.txt_left {
				position: relative;
				padding: 40px 500px 0 0;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					right: 86px;
					width: 367px;
					height: 281px;
					background: url(../../image/content/hyundaiCard/img_hcoin.png) no-repeat;
					background-size: 100%;
				}
			}

			.txt_right {
				position: relative;
				margin-top: 160px;
				padding: 63px 0 56px 487px;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 297px;
					height: 375px;
					background: url(../../image/content/hyundaiCard/img1_hcoin.png) no-repeat;
					background-size: 100%;
				}
			}
		}

		h3 {
			font-size: 28px;
			font-weight: bold;
			letter-spacing: -1px;
		}

		.container {
			h4 {
				font-size: 40px;
				font-weight: bold;
				line-height: 52px;
				letter-spacing: -1px;
			}

			.txt_gray {
				margin-top: 24px;
				font-size: 20px;
				font-weight: 600;
				line-height: 26px;
				color: #858585;
				letter-spacing: -1px;
			}

			.black_link {
				display: inline-block;
				position: relative;
				margin-top: 24px;

				a {
					width: 100%;
					font-size: 20px;
					font-weight: 700;
					line-height: 26px;
					padding-right: 24px;
					letter-spacing: -1px;
				}

				&::after {
					content: '';
					position: absolute;
					top: 1px;
					right: 0;
					width: 24px;
					height: 24px;
					background: url(../../image/content/hyundaiCard/ico_arrowB_forward.png) 0 0 no-repeat;
					background-size: 100%;
				}
			}
		}

		&.info_guide {
			margin-top: 138px;

			.container {
				.guide_list {
					display: flex;
					flex-wrap: wrap;

					li {
						position: relative;
						width: 50%;

						&:nth-child(n+1):nth-child(-n+2) {
							margin-top: 40px;
							padding-top: 113px;
						}

						&:first-child {
							.black_link {
								margin-top: 20px;
							}
						}

						&:nth-child(n+3) {
							margin-top: 112px;
							padding-top: 124px;
						}

						strong {
							display: block;
							font-size: 34px;
							font-weight: bold;
							line-height: 44px;
							letter-spacing: -1px;
						}

						.txt_gray {
							margin-top: 16px;
						}

						.txt_support {
							display: block;
							margin-top: 12px;
							font-size: 14px;
							font-weight: 600;
							line-height: 22px;
							letter-spacing: -1px;
						}

						.black_link {
							margin-top: 16px;
						}

						&::before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 72px;
							height: 72px;
							background: url(../../image/content/hyundaiCard/ico_bene_h2.png) 0 0 no-repeat;
							background-size: 100%;
						}
					}
				}
			}
		}

		&.notice {
			margin-top: 160px;
			padding-top: 44px;
			border-top: 1px solid #ebebeb;

			h3 {
				font-size: 20px;
				font-weight: bold;
				line-height: 26px;
			}

			ul {
				margin-top: 20px;

				li {
					position: relative;
					margin-top: 8px;
					padding-left: 9px;
					font-size: 16px;
					font-weight: 600;
					line-height: 26px;
					letter-spacing: -0.8px;

					&::before {
						content: '';
						position: absolute;
						top: 12px;
						left: 0;
						width: 2px;
						height: 2px;
						background-color: #858585;
						border-radius: 50%;
					}
				}
			}
		}
	}
}

// 카드종합이용안내
.sr_only {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	margin: 0;
	font-size: 1px;
	color: transparent;
	line-height: 0;
	overflow: hidden;
}

.mt_40 {
	margin-top: 40px !important;
}

.mb_0 {
	margin-bottom: 0 !important;
}

.content_wrap {
	width: 1200px;
	margin: 0 auto;
	padding: 128px 0 160px;
	line-height: 1.2;
	letter-spacing: -0.8px !important;

	h2 {
		margin-top: 64px;
		font-size: 32px;
		text-align: center;
	}

	.content_tab {
		margin-top: 50px;

		.tab_menu {
			white-space: nowrap;

			.tab_list {
				display: flex;
				height: 40px;

				li {
					border-radius: 20px;
					background-color: #eee;
					text-align: center;
					line-height: 40px;

					&:not(:last-child) {
						margin-right: 5px;
					}

					a {
						display: block;
						padding: 0 12px;
						font-weight: bold;
						color: #949494;

						&.on {
							border-radius: 20px;
							background-color: #000;
							color: #fff;
						}
					}

					&:hover {
						background-color: #ccc;
					}
				}
			}
		}

		.container {
			min-height: calc(100vh - 743px);

			.content_box {
				margin-top: 20px;

				&:not(:first-child) {
					display: none;
				}

				.sub_tab_list {
					display: flex;

					li {
						position: relative;

						&::before {
							content: '';
							position: absolute;
							right: 0;
							top: 13px;
							width: 1px;
							height: 14px;
							background-color: #eee;
						}

						&:first-child {
							a {
								padding-left: 0;
							}
						}

						&:last-child {
							&::before {
								display: none;
							}
						}

						a {
							display: block;
							padding: 10px;
							font-weight: bold;
							color: #949494;

							&.on {
								color: #000;
							}
						}
					}
				}

				.sub_content_box {
					.content_box {
						.section {
							padding-top: 60px;

							h5 {
								font-weight: bold;
								font-size: 24px;
								padding-bottom: 18px;
								margin-bottom: 24px;
								border-bottom: 2px solid #000;
							}

							&.first {
								ol {
									>li {
										&:not(:first-child) {
											margin-top: 64px;
										}

										>strong {
											font-weight: bold;
											font-size: 20px;
										}

										.bul_list {
											margin-top: 20px;

											li {
												position: relative;
												padding-left: 8px;
												font-size: 15px;
												font-weight: 600;

												&::before {
													content: '';
													position: absolute;
													left: 0;
													top: calc(50% - 1px);
													width: 2px;
													height: 2px;
													background-color: #bbb;
												}
											}
										}

										>p {
											margin-top: 20px;
											font-weight: bold;
											font-size: 16px;
											line-height: 24px;
										}

										div {
											margin-top: 15px;

											&.box {
												width: 100%;
												border: 1px solid #ddd;
												border-radius: 8px;
												padding: 36px 10px;

												>ul {
													display: flex;

													>li {
														position: relative;
														padding-top: 58px;
														text-align: center;

														p {
															position: relative;
															display: block;
															margin: 10px 0 5px;
															font-weight: bold;
															font-size: 16px;

															&::before {
																content: '';
																position: absolute;
																top: -70px;
																left: calc(50% - 32px);
																width: 64px;
																height: 64px;
															}
														}

														span {
															font-weight: bold;
															font-size: 14px;
															color: #858585;
															line-height: 20px;
														}
													}
												}
											}
										}

										&:first-child {
											div {
												&.box {
													ul {
														>li {
															flex: 0 0 25%;
															width: 25%;

															&:not(:last-child) {
																&::before {
																	content: '';
																	position: absolute;
																	top: calc(50% - 16px);
																	right: 0;
																	width: 32px;
																	height: 32px;
																	background: url(../../image/content/hyundaiCard/ico_plus.png) 0 0 no-repeat;
																	background-size: cover
																}
															}

															&:first-child {
																p {
																	&::before {
																		background: url(../../image/content/hyundaiCard/ico_hat.png) 0 0 no-repeat;
																		background-size: cover;
																	}
																}
															}

															&:nth-child(2) {
																p {
																	&::before {
																		background: url(../../image/content/hyundaiCard/ico_monitor.png) 0 0 no-repeat;
																		background-size: cover;
																	}
																}
															}

															&:nth-child(3) {
																p {
																	&::before {
																		background: url(../../image/content/hyundaiCard/ico_headset.png) 0 0 no-repeat;
																		background-size: cover;
																	}
																}
															}

															&:nth-child(4) {
																p {
																	&::before {
																		background: url(../../image/content/hyundaiCard/ico_call_check2.png) 0 0 no-repeat;
																		background-size: cover;
																	}
																}
															}
														}
													}
												}
											}
										}

										&:nth-child(2) {
											div {
												&.box {
													>ul {
														width: 100%;
														display: flex;
														align-items: center;

														>li {
															flex-grow: 1;

															&:first-child {
																padding-top: 0;

																>ul {
																	display: flex;
																	align-items: center;

																	>li {
																		position: relative;
																		width: 33.33%;
																		padding-top: 58px;

																		&:not(:last-child) {
																			&::before {
																				content: '';
																				position: absolute;
																				top: calc(50% - 16px);
																				right: -16px;
																				width: 32px;
																				height: 32px;
																				background: url(../../image/content/hyundaiCard/ico_plus.png) 0 0 no-repeat;
																				background-size: cover;
																			}
																		}

																		&:nth-child(3) {
																			&::before {
																				display: none;
																			}
																		}

																		p {
																			&::before {
																				content: '';
																				position: absolute;
																				top: -70px;
																				left: calc(50% - 32px);
																				width: 64px;
																				height: 64px;
																				background: url(../../image/content/hyundaiCard/ico_building.png) 0 0 no-repeat;
																				background-size: cover;
																			}
																		}
																	}
																}
															}

															&:first-child {
																&::before {
																	display: none;
																}
															}

															&:nth-child(2) {
																position: relative;
																flex-grow: 0;
																width: 25%;

																p {
																	&::before {
																		background: url(../../image/content/hyundaiCard/ico_doc_down.png) 0 0 no-repeat;
																		background-size: cover;
																	}
																}

																&::before {
																	content: '';
																	position: absolute;
																	top: calc(50% - 16px);
																	left: -16px;
																	width: 32px;
																	height: 32px;
																	background: url(../../image/content/hyundaiCard/ico_arrowB_forward.png) 0 0 no-repeat;
																	background-size: cover;
																	opacity: 0.2;
																}
															}
														}
													}
												}

												&.box_column {
													ul {
														li {
															&:first-child {
																padding-top: 0;

																>ul {
																	flex-wrap: wrap;

																	li {
																		&:not(:nth-child(-n+3)) {
																			margin-top: 35px;
																		}

																		p {
																			&::before {
																				content: '';
																				position: absolute;
																				top: -70px;
																				left: calc(50% - 32px);
																				width: 64px;
																				height: 64px;
																				background: url(../../image/content/hyundaiCard/ico_cal_money.png) 0 0 no-repeat;
																				background-size: cover;
																			}
																		}
																	}
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}

							>.accordion_list {
								// border: 1px solid red;

								dl {
									border-bottom: 1px solid #ddd;

									dt {
										position: relative;
										padding: 20px 60px 20px 42px;
										font-weight: bold;
										font-size: 16px;
										line-height: 26px;
										cursor: pointer;

										&::before {
											content: 'Q.';
											position: absolute;
											top: 19px;
											left: 20px;
										}

										button {
											&.btn {
												position: absolute;
												right: 16px;
												top: 20px;
												width: 24px;
												height: 24px;
												background: url(../../image/content/hyundaiCard/ico_arrowB_down.png) center center no-repeat;
												background-size: cover;
												line-height: 100px;
												overflow: hidden;
												transform: rotate(0);
												cursor: pointer;
											}
										}

										&.on {
											button {
												&.btn {
													transform: rotate(180deg);
												}
											}
										}
									}

									dd {
										display: none;
										height: auto;
										padding: 0 40px 20px;
										font-size: 16px;
										line-height: 26px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}