// 공통
@import "../../scss/components/default.scss";

.body_wrap {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;

	.header {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 500;
		width: 100%;

		.container {
			height: 80px;
			background-color: #eee;
		}

		.gnbBanner {
			height: 48px;
			background: #fff;
			border-bottom: 1px solid #ddd;
		}
	}

	.footer {
		height: 243px;
		background-color: #eee;
	}

	// 컨텐츠 시작
	.content {
		position: relative;
		margin-top: 80px;
		// min-height: calc(100vh - 200px);

		.container {
			display: flex;
			justify-content: space-between;
			position: relative;
			width: 1600px;
			margin: 0 auto;
			padding-top: 50px;

			.leftContent {
				width: 1256px;
				padding: 40px 64px 40px 0;

				>div {
					border: 1px solid black;
				}

				.banner {
					height: 464px;
				}

				.cardOrigin {
					height: 520px;
				}

				.cardBrands {
					height: 520px;
				}

				.eventList {
					height: 730px;
				}
			}

			.rightContent {
				width: 343px;
				padding: 40px 0 40px 64px;

				>div {
					border: 1px solid black;
				}

				.loginWrap {
					height: 374px;
				}

				.quickMenu {
					height: 78px;
					margin-top: 22px;
				}

				.infoList {
					height: 320px;
					margin-top: 52px;
				}

				.notice {
					height: 195px;
					margin-top: 52px;
				}

				.appBanner {
					height: 106px;
					margin-top: 28px;
				}
			}
		}

		@media screen and (max-width: 1639px) {
			.container {
				width: 1200px;

				.leftContent {
					width: 855px;
					padding: 40px 64px 40px 0;
				}
			}
		}
	}
}

.link_btn {
	display: inline-block;
	border: 1px solid #bbb;
	border-radius: 4px;
	width: 100px;
	height: 40px;
	margin: 5px;

	a {
		display: inline-block;
		width: 100%;
		height: 100%;
		font-size: 14px;
		color: #000;
		text-align: center;
		line-height: 38px;
	}
}

// H-Coin 혜택
.h_coin {
	position: relative;
	width: 996px;
	margin: 0 auto;
	padding: 130px 0 160px;

	h2 {
		height: 44px;
		margin-top: 64px;
		font-size: 34px;
		font-weight: 600;
		line-height: 44px;
		text-align: center;
		letter-spacing: -1px;
	}

	.blue_link {
		margin-top: 16px;
		text-align: center;

		a {
			display: inline-block;
			position: relative;
			padding-right: 16px;
			font-size: 16px;
			font-weight: 700;
			line-height: 22px;
			color: #007aff;
			text-align: left;
			letter-spacing: -1px;

			&:hover {
				&::before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 226px;
					height: 1px;
					background: #007aff;
				}
			}

			&::after {
				content: '';
				position: absolute;
				top: 3px;
				right: 0;
				width: 16px;
				height: 16px;
				background: url(../../image/content/hyundaiCard/ico_arrowB_forward_blue.png) 0 0 no-repeat;
				background-size: 100%;
			}
		}
	}

	.section {
		&.first_section {
			margin-top: 72px;

			.txt_left {
				position: relative;
				padding: 40px 500px 0 0;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					right: 86px;
					width: 367px;
					height: 281px;
					background: url(../../image/content/hyundaiCard/img_hcoin.png) no-repeat;
					background-size: 100%;
				}
			}

			.txt_right {
				position: relative;
				margin-top: 160px;
				padding: 63px 0 56px 487px;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 297px;
					height: 375px;
					background: url(../../image/content/hyundaiCard/img1_hcoin.png) no-repeat;
					background-size: 100%;
				}
			}
		}

		h3 {
			font-size: 28px;
			font-weight: bold;
			letter-spacing: -1px;
		}

		.container {
			h4 {
				font-size: 40px;
				font-weight: bold;
				line-height: 52px;
				letter-spacing: -1px;
			}

			.txt_gray {
				margin-top: 24px;
				font-size: 20px;
				font-weight: 600;
				line-height: 26px;
				color: #858585;
				letter-spacing: -1px;
			}

			.black_link {
				display: inline-block;
				position: relative;
				margin-top: 24px;

				a {
					width: 100%;
					font-size: 20px;
					font-weight: 700;
					line-height: 26px;
					padding-right: 24px;
					letter-spacing: -1px;
				}

				&::after {
					content: '';
					position: absolute;
					top: 1px;
					right: 0;
					width: 24px;
					height: 24px;
					background: url(../../image/content/hyundaiCard/ico_arrowB_forward.png) 0 0 no-repeat;
					background-size: 100%;
				}
			}
		}

		&.info_guide {
			margin-top: 138px;

			.container {
				.guide_list {
					display: flex;
					flex-wrap: wrap;

					li {
						position: relative;
						width: 50%;

						&:nth-child(n+1):nth-child(-n+2) {
							margin-top: 40px;
							padding-top: 113px;
						}

						&:first-child {
							.black_link {
								margin-top: 20px;
							}
						}

						&:nth-child(n+3) {
							margin-top: 112px;
							padding-top: 124px;
						}

						strong {
							display: block;
							font-size: 34px;
							font-weight: bold;
							line-height: 44px;
							letter-spacing: -1px;
						}

						.txt_gray {
							margin-top: 16px;
						}

						.txt_support {
							display: block;
							margin-top: 12px;
							font-size: 14px;
							font-weight: 600;
							line-height: 22px;
							letter-spacing: -1px;
						}

						.black_link {
							margin-top: 16px;
						}

						&::before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 72px;
							height: 72px;
							background: url(../../image/content/hyundaiCard/ico_bene_h2.png) 0 0 no-repeat;
							background-size: 100%;
						}
					}
				}
			}
		}

		&.notice {
			margin-top: 160px;
			padding-top: 44px;
			border-top: 1px solid #ebebeb;

			h3 {
				font-size: 20px;
				font-weight: bold;
				line-height: 26px;
			}

			ul {
				margin-top: 20px;

				li {
					position: relative;
					margin-top: 8px;
					padding-left: 9px;
					font-size: 16px;
					font-weight: 600;
					line-height: 26px;
					letter-spacing: -0.8px;

					&::before {
						content: '';
						position: absolute;
						top: 12px;
						left: 0;
						width: 2px;
						height: 2px;
						background-color: #858585;
						border-radius: 50%;
					}
				}
			}
		}
	}
}